body {
  background-color: black;
  color: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#controls button {
  background-color: greenyellow;
  font-size: 2rem;
  border-radius: 10px;
}

.stopwatch {
  font-size: 15em;
  font-family: monospace;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 10px, 0;
}

/* Screens Sizes Less Than 800px */

@media (max-width: 800px) {
  body {
    display: flex;
    justify-content: space-evenly;
  }

  .stopwatch {
    font-size: 12em;
  }
}

@media (max-width: 700px) {
  #controls button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .stopwatch {
    font-size: 6em;
  }
}
