@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");

body {
  font-family: "Amiri", serif;
  margin: 0;
  background-color: #eee;
  height: 0;
}

a {
  text-decoration: none;
  color: #888;
}

a:hover {
  color: #333;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3),
    -30px 0px 40px rgba(0, 0, 0, 0.3);
}

#landing {
  background-color: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#landing-text h2 {
  color: #888;
}

#landing-image {
  background: url("./images/me3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 1rem;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 200ms ease-in;
}

.btn:hover {
  background: #f4f4f4;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  color: #fff;
}

#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caption {
  padding: 0.8rem;
  text-align: center;
}

#badges-container {
  text-align: center;
  background-color: rgba(191, 241, 248, 0.687);
  border: 3px solid aqua;
  padding: 1rem;
}

#badges {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

#badges img {
  width: 3rem;
  margin: 0.3rem;
  background-color: white;
  border-radius: 10px;
  border: 3px solid aquamarine;
  transition: 150ms ease-in;
  box-shadow: 3px 3px 3px black;
}

#badges img:hover {
  border: 3px solid black;
}

.accolades {
  display: flex;
  justify-content: space-evenly;
}

.accolades p {
  border-left: dotted 1px #333;
  border-right: dotted 1px #333;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #888;
}

footer h2 {
  border-bottom: 1px solid #888;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

#contact-sites {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

/* Screen Sizes 500px and up */
@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }
}

/* Screen Sizes 700px and up */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }

  #badges img {
    width: 5rem;
  }

  .accolades p {
    padding: 0.5rem;
  }
}
